<div class="jumbotron">
	<div class="container">
		<h1> PUG: Pick Up Game </h1>
		<p> OpenPUG is a web-based, open platform for creating and coordinating competitive lobbies in Source games.  Just add rcon.</p>
		<p> We're currently under development. </p>
		<p><a class="btn btn-primary btn-lg" role="button" href="mailto:interest@openpug.com"> Contact </a></p>
	</div>
</div>
<div class="row">
	<div class="container">
	<div class="col-md-4">
		<h3> Free, as in freedom. </h3>
		<p> We will never install invasive anti-cheat software on your computer.  Our codebase is open for anyone to inspect, so you can be sure no rogue employees will start mining bitcoin on your hardware. </p>
	</div>
	<div class="col-md-4">
		<h3>Durable, extendable API</h3>
		<p> OpenPUG works for most games which support dedicated servers and RCON.  Initially, development focus will be on Counter-Strike: Global Offensive and Team Fortress 2.</p> 
	</div>
	<div class="col-md-4">
		<h3> No Installation Required </h3>
		<p> All you need to create or join a lobby on OpenPUG is a web browser.  OpenPUG uses state-of-the-art open web technologies (node.js, socket.io) to enable the best possible user experience. </p>
	</div>
</div>

