html, body {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2px;
}
.list-group-item {
	text-align: center;
}
.navbar {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.navbar a {
	text-decoration: none;
}
.jumbotron {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.container .newpugform {
	margin-left: auto;
	margin-right: auto;
	width: 250px;
}
.newpugform .btn {
	width: 250px;
}
.table .td .btn {
	padding-left: 2px;
}
.displayprofile {
	width: 150px;
	height: 50px;
	display: block;
	position: relative;
	padding: 8px 0px;
}
.displayprofile img {
	border: 1px solid #eee;
	float: left;
}
.displayProfileName {
	font-size: 14px;
	color: #000;
	float: left;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	max-width: 70%;
	margin-top: 6px;
	margin-left: 4px;
	text-overflow: ellipsis;
}
.displayprofile ul {
	list-style-type: none;
	width: 100%;
}
.displayprofile ul li {
	float: left;
}
.row-centered {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#joinCT {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
#joinT {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.modal-body {
	margin-bottom: 15px;
}